---
import BuyWidget from '@/components/BuyWidget.astro'
import Drawer from '@/components/ui/Drawer.astro'
import Button from '@/components/ui/Button.astro'
import Card from '@/components/ui/Card.astro'
import Dropdown from '@/components/ui/Dropdown.astro'
import InputNumber from '@/components/ui/InputNumber.astro'
import Carousel from '@/features/products/components/Carousel.astro'
import ProductDetails from '@/features/products/components/ProductDetails.astro'
import Tags from '@/features/products/components/Tags.astro'
import { getProducts } from '@/features/products/products.api'
import Layout from '@/layouts/Layout.astro'
import { Icon } from 'astro-icon/components'
import CardDrawerItems from '@/features/products/components/CardDrawerItems.astro'
export async function getStaticPaths() {
  const { productos, errorMessage } = await getProducts()
  return productos.map((product) => ({
    params: { type: product.categoryid.slug || 'uncategorized', id: product.id },
    props: { product },
  }))
}
const { product } = Astro.props
const { id, title, price, image } = product
---

<Layout {title}>
  <!-- drawer init and toggle -->
  <Drawer>
    <CardDrawerItems slot="vertical" />
    <CardDrawerItems slot="horizontal" />
  </Drawer>
  <Card
    class="from-card relative mx-auto h-full w-full min-w-[16rem] flex-1 overflow-hidden bg-linear-to-t to-transparent md:max-w-4xl"
  >
    <main class="flex flex-col md:flex-row md:flex-nowrap">
      <div class="h-[16rem] w-full md:h-[30rem] md:w-6/12">
        <div class="relative mx-auto aspect-[3/4] h-full w-full">
          <div
            class:list={[
              'bg-honey-dark/50 from-honey-medium/35 to-honey-dark/25 absolute inset-x-0 -top-7 mx-auto',
              'h-[calc(100%+0.8rem)] w-3/6 rounded-b-full bg-linear-to-t sm:w-2/6 md:h-11/12 md:w-8/12',
            ]}
          >
          </div>
          <div
            class:list={[
              'bg-honey-medium/50 group-hover:bg-honey-medium/70 absolute inset-x-0 bottom-3 md:bottom-20',
              'mx-auto h-40 w-24 rounded-full blur-2xl transition-colors duration-700',
            ]}
          >
          </div>

          <Carousel images={product.image} />
        </div>
      </div>
      <div class="flex flex-1 flex-col justify-between leading-normal md:h-full md:w-6/12">
        <div>
          <Tags tags={product.tags} />

          <h4 class="text-foreground line-clamp-1 py-2 text-2xl font-semibold sm:text-4xl md:mb-2">
            {product.title}
          </h4>
          <p class="flex items-baseline gap-2 md:my-3">
            <span
              class="from-primary bg-linear-to-r to-orange-400 bg-clip-text text-4xl font-bold text-transparent"
            >
              ${product.price}
            </span>
            {
              product.previousPrice && (
                <span class="text-muted-foreground text-sm line-through">
                  ${product.previousPrice}
                </span>
              )
            }
          </p>

          <form
            id="product-form"
            class="my-6 flex flex-col gap-6 sm:flex-row sm:flex-nowrap md:my-8"
            x-data={`{
              selected:1,
              itemData: ${JSON.stringify(product)}
            }`}
            data-id={id}
            data-title={title}
            data-price={price}
            data-imagepublicid={image?.[0].public_id ?? ''}
            data-imageversion={image?.[0].version ?? ''}
          >
            <Dropdown cantidad={5} x-model="selected" />
            <Button
              id="cart-add-button"
              className="w-full rounded-md inline-flex md:px-2"
              type="button"
              aria-controls="drawer-swipe-desktop"
              @click="$dispatch('open-cart'); $store.cartStore.handleAddToCart({...itemData, quantity: selected})"
            >
              <Icon name="lucide:shopping-cart" size={17} />
              <span class="line-clamp-1 text-left text-sm whitespace-nowrap md:text-base"
                >Agregar al carrito</span
              >
            </Button>
          </form>
        </div>
        <BuyWidget {product} />
        <ProductDetails {product} />
      </div>
    </main>
  </Card>
</Layout>
