---
import Button from '@/components/ui/Button.astro'
import Card from '@/components/ui/Card.astro'
import Dropdown from '@/components/ui/Dropdown.astro'
import Carousel from '@/features/products/components/Carousel.astro'
import ProductDetails from '@/features/products/components/ProductDetails.astro'
import Tags from '@/features/products/components/Tags.astro'
import BackButton from '@/components/ui/BackButton.astro'
import Breadcrumb from '@/components/ui/Breadcrumb.astro'
import { getProducts } from '@/features/products/products.api'
import Layout from '@/layouts/Layout.astro'
import { Icon } from 'astro-icon/components'
import Tooltip from '@/components/ui/Tooltip.astro'
export async function getStaticPaths() {
  const { productos, errorMessage } = await getProducts()
  return productos.map((product) => ({
    params: { type: product.categoryid.slug || 'uncategorized', id: product.id },
    props: { product },
  }))
}
const { product } = Astro.props

const category = product?.categoryid ?? {}
const breadcrumbItems = [
  { label: 'Inicio', href: '/' },
  { label: category?.name ?? 'Productos', href: `/product/${category?.slug || 'sin categoría'}` },
  { label: product?.title ?? 'Detalle' },
]
const { id, title } = product
---

<Layout {title}>
  <Breadcrumb items={breadcrumbItems} className="md:px-8 px-2" />
  <Card
    class="from-card relative mx-auto h-full w-full min-w-[16rem] flex-1 overflow-hidden bg-linear-to-t to-transparent md:max-w-4xl my-8 mb-20 sm:my-8"
    transition:name={`card-img-${id}`}
  >
    <main class="flex flex-col md:flex-row md:flex-nowrap">
      <BackButton className="absolute left-4 top-4 z-20" />
      <div class="h-64 w-full md:h-[30rem] md:w-6/12">
        <div class="relative mx-auto aspect-[3/4] h-full w-full" transition:name={`bg-img-${id}`}>
          <div
            class:list={[
              'bg-honey-dark/50 from-honey-medium/35 to-honey-dark/25 absolute inset-x-0 -top-7 mx-auto',
              'h-[calc(100%+0.8rem)] w-3/6 rounded-b-full bg-linear-to-t sm:w-2/6 md:h-11/12 md:w-8/12',
            ]}
          >
          </div>
          <div
            class:list={[
              'bg-honey-medium/50 group-hover:bg-honey-medium/70 absolute inset-x-0 bottom-3 md:bottom-20',
              'mx-auto h-40 w-24 rounded-full blur-2xl transition-colors duration-700',
            ]}
          >
          </div>

          <Carousel images={product.image} />
        </div>
      </div>
      <div class="flex flex-1 flex-col justify-between leading-normal md:h-full md:w-6/12">
        <div>
          <div transition:name={`tags-${id}`}>
            <Tags tags={product.tags} />
          </div>

          <h4
            class="text-foreground line-clamp-1 py-2 text-2xl font-semibold sm:text-4xl md:mb-2"
            transition:name={`title-${id}`}
          >
            {product.title}
          </h4>
          <p class="flex items-baseline gap-2 md:my-3" transition:name={`price-${id}`}>
            <span
              class="from-primary bg-linear-to-r to-orange-400 bg-clip-text text-4xl font-bold text-transparent"
            >
              ${product.price}
            </span>
            {
              product.previousPrice && (
                <span class="text-muted-foreground text-sm line-through">
                  ${product.previousPrice}
                </span>
              )
            }
          </p>

          <form
            @clean-quantity.window="state.disableIncreament = false; state.show = false;"
            x-data={`{
              selected:1,
              itemData: ${JSON.stringify(product)},
              state: {
                show: false,
                disableIncreament: false,
              },
              anchorRef: null,
              addToCart() {
                //$dispatch('open-cart');
                console.log('add to cart',this.selected)
                if(this.validateQuantity(this.selected)){
                  return window.location.href="/cart"
                }
                $store.cartStore.handleAddToCart({...this.itemData, quantity: this.selected});
                window.location.href="/cart"
              },
              validateQuantity(selected) {
                const isInCart = $store.cartStore.data.items['${id}']
                const isValid = (isInCart?.quantity ?? 0) + selected <= (isInCart?.purchaseLimit ?? 10)
                if (!isValid) {
                  this.state.disableIncreament = true;
                  this.state.show = true;
                  return true
                }
                this.state.disableIncreament = false;
                this.state.show = false;
              }
            }`}
            class="my-6 flex flex-col gap-6 sm:flex-row sm:flex-nowrap md:my-8"
            x-init="anchorRef = $refs.container"
            x-ref="container"
            :id={`'container-${id}'`}
            :aria-describedby={`'tooltip-content-${id}'`}
          >
            <Dropdown
              cantidad={5}
              x-model="selected"
              @on-selected="validateQuantity($event.detail)"
            />
            <Tooltip
              content={`Ya está en el carrito. Máx. ${product?.purchaseLimit} unidades`}
              position="top"
            />
            <Button
              @mouseleave="if (!state.disableIncreament) state.show = false"
              id="cart-add-button"
              className="w-full rounded-md inline-flex md:px-2"
              type="button"
              aria-controls="drawer-swipe-desktop"
              @click="addToCart"
            >
              <Icon name="lucide:shopping-cart" size={17} />
              <span class="line-clamp-1 text-left text-sm whitespace-nowrap md:text-base">
                Comprar ahora
              </span>
            </Button>
          </form>
        </div>

        <ProductDetails {product} />
      </div>
    </main>
  </Card>
</Layout>
