---
import BuyWidget from '@/components/BuyWidget.astro'
import Button from '@/components/ui/Button.astro'
import Card from '@/components/ui/Card.astro'
import InputNumber from '@/components/ui/InputNumber.astro'
import ProductDetails from '@/features/products/components/ProductDetails.astro'
import Tags from '@/features/products/components/Tags.astro'
import { getProducts } from '@/features/products/products.api'
import Layout from '@/layouts/Layout.astro'
import { Icon } from 'astro-icon/components'
export async function getStaticPaths() {
  const { productos, errorMessage } = await getProducts()
  return productos.map((product) => ({
    params: { type: product.categoryid.slug || 'uncategorized', id: product.id },
    props: { product },
  }))
}
const { product } = Astro.props
const { id, title } = product
---

<Layout title={title}>
  <Card
    class="from-card relative mx-auto h-full w-full flex-1 bg-linear-to-t to-transparent md:max-w-4xl"
  >
    <main class="flex flex-col md:flex-row md:flex-nowrap">
      <div class="grid h-8/12 w-full bg-blue-800 md:h-full md:w-6/12">
        <div class="relative h-56 md:h-64">
          <div
            class:list={[
              'bg-honey-dark/50 from-honey-medium/35 to-honey-dark/25 absolute inset-x-0 -top-6 mx-auto',
              'h-[calc(100%+0.8rem)] w-5/12 rounded-b-full bg-linear-to-t md:h-full',
            ]}
          >
          </div>
          <div
            class="bg-honey-medium/50 group-hover:bg-honey-medium/70 absolute inset-x-0 bottom-3 mx-auto h-40 w-24 rounded-full blur-2xl transition-colors duration-700"
          >
          </div>

          {
            product.image.map((image) => (
              <img
                class:list={[
                  'drop-shadow-honey-dark/50 group-hover:drop-shadow-honey-dark/90 relative',
                  'h-full w-full -translate-y-3 object-contain object-top drop-shadow-lg',
                  'transition-[shadow_transform] duration-300 group-hover:scale-105 group-hover:drop-shadow-xl',
                ]}
                src={image.url}
                alt=""
              />
            ))
          }
        </div>
      </div>
      <div class="flex h-7/12 flex-col justify-between leading-normal md:h-full md:w-6/12">
        <div>
          <div class="mt-5 md:mt-0">
            <Tags tags={product.tags} />
          </div>
          <h4 class="text-foreground mb-2 line-clamp-1 py-2 text-2xl font-semibold sm:text-4xl">
            {product.title}
          </h4>
          <p class="my-3 flex items-baseline gap-2">
            <span
              class="from-primary bg-linear-to-r to-orange-400 bg-clip-text text-4xl font-bold text-transparent"
            >
              ${product.price}
            </span>
            {
              product.previousPrice && (
                <span class="text-muted-foreground text-sm line-through">
                  ${product.previousPrice}
                </span>
              )
            }
          </p>
          <div class="my-8 flex flex-nowrap gap-6">
            <InputNumber />
            <Button className="w-full">
              <>
                <Icon name="lucide:shopping-cart" size={18} />
                <span class="text-base">Agregar al carrito</span>
              </>
            </Button>
          </div>
          <BuyWidget product={product} />
          <ProductDetails product={product} />
        </div>
      </div>
    </main>
  </Card>
</Layout>
