---
import { Icon } from 'astro-icon/components'
import { randomUUID } from 'node:crypto'

interface Props {
  id?: string
  value?: number
  [key: string]: any
}

const { id, value = 1, ...rest } = Astro.props
const quantityId = id ?? `quantity-input-${randomUUID()}`
const decrementButtonId = `${quantityId}-decrement`
const incrementButtonId = `${quantityId}-increment`
---

<div class="bg-secondary/30 rounded-base relative flex w-full items-center shadow-xs">
  <button
    type="button"
    id={decrementButtonId}
    data-input-counter-decrement={quantityId}
    class="ring-offset-background text-foreground border-border/10 hover:bg-accent/80 hover:text-accent-foreground focus:ring-ring rounded-s-base box-border h-10 border px-2 text-sm leading-5 font-medium transition-colors focus:ring-4 focus:outline-none disabled:pointer-events-none disabled:opacity-50"
    @click="$store.cartStore.handleAddToCart({ id: id, quantity:  -1 })"
  >
    <Icon name="lucide:minus" size={16} />
  </button>
  <span
    id={quantityId}
    class="placeholder:text-foreground border-border/10 flex-1 ring-ring h-10 w-full border-x-0 bg-transparent py-2.5 text-center"
    {...rest}>{value}</span
  >
  <button
    type="button"
    id={incrementButtonId}
    data-input-counter-increment={quantityId}
    class="ring-offset-background text-foreground hover:text-accent-foreground border-border/10 hover:bg-accent/80 focus:ring-ring rounded-e-base aria-expanded:text-accent-foreground box-border h-10 border px-2 text-sm leading-5 transition-colors focus:ring-4 focus:outline-none disabled:pointer-events-none disabled:opacity-50 aria-expanded:font-semibold"
    @click="$store.cartStore.handleAddToCart({ id: id, quantity:  1 })"
  >
    <Icon name="lucide:plus" size={16} />
  </button>
</div>
